*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
                    
:root{
  --primary-color:#3C6255;
  --secondary-color:#EAE7B1;
  --accent-color:#61876E;

}

body{
  font-family: 'Slabo 27px', serif;
  background: var(--secondary-color);

}

h1{
  background: var(--primary-color);
  color:var(--secondary-color);
  text-align: center;
  padding:20px;
}